SECRET_KEY=
DEBUG=False
DB_NAME=tasky_db
DB_USER=tasky_user
DB_PASS=
DB_HOST=postgres
DB_PORT=5432
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=False
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=tasky
